.presentacion {
  padding: 120px 20px 80px; /* Ajusta el padding superior para evitar la superposición */
  background-color: #000000;
  text-align: center;
  width: 100%;
  flex-wrap: wrap;
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 768px) {
  .presentacion {
    padding-top: 100px; /* Ajuste para pantallas medianas */
  }

  .presentacion h2 {
    font-size: 2rem;
  }

  .presentacion p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .presentacion {
    padding-top: 90px; /* Ajuste para pantallas pequeñas */
  }

  .presentacion h2 {
    font-size: 1.5rem;
  }

  .presentacion p {
    font-size: 0.875rem;
  }
}
